@model IEnumerable<WebAppCoreEx.Models.Students>

@{
    ViewData["Title"] = "Index";
}

<h1>Student List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scontact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scontact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Sid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Sid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Sid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
